extends layout

block content
  section(id="banner")
    h2 Centro Desarrollo Integral
    h2 Nación Santa
    ul(class="actions")
      li
        a(class="button big" href="/objetivos") Saber Más

  section(id="one" class="wrapper style1 align-center")
    .container
      header
        h2 Necesidades Por Área
      div(class="row 200%")
        section(class="4u 12u$(small)")
          i(class="icon big rounded fa-clock-o")
          h2 Área Administrativa  
          p Adquirir una computadora y sus implementos.
        section(class="4u 12u$(small)")
          i(class="icon big rounded fa-user")
          h2 Área Espiritual
          ul
            li Compra de Material bíblico para enseñanza programa de Cadetes y adolescentes.
            li Integración de los niños, adolescentes y padres de familia a la Iglesia.
            li Fomentar los valores y el temor de Dios en sus vidas.
            li Promover el liderazgo y potencial de los jóvenes en el desarrollo del ministerio.
            li Integrar a los adolescentes de15-18 años al programa de Discipulado.
            li Realizar reuniones de padres de familia.   
        section(class="4u$ 12u$(small)")
          i(class="icon big rounded fa-comments")
          h2 Área SocioEmocional
          ul
            li Adquirir material para apoyo en deberes escolares.
            li Mejorar la decoración para el salón de clases.
            li Implementar espacios de aprendizaje para lectoescritura.
          