extends layout

block content
  .bodyy
    h1 OBJETIVOS Y METAS PARA CADA &Aacute;REA DE DESARROLLO
      |         
      |         
      table
        tbody
          tr
            td
              h3 &Aacute;rea Espiritual
            |                 
            td Demuestra entrega total al se&ntilde;or&iacute;o de Cristo.
            |                 
            td Comprenden el sacrificio de Cristo por salvarnos.
            |                 
            td Aceptan a Jesucristo como Salvador y Se&ntilde;or de sus vidas.
            |                 
            td
              | Crecen en su relaci&oacute;n con Dios y ademas se integran a los programas y ministerios de la iglesia.
          |             
          tr
            td
              h3 &Aacute;rea F&iacute;sica
            |                 
            td Escoge buenas pr&aacute;cticas para la salud y es f&iacute;sicamente saludable.
            |                 
            td Practica h&aacute;bitos de higiene personal dirigidos por un adulto.
            |                 
            td Practica h&aacute;bitos de higiene personal por si mismos.
            |                 
            td Le dan mucha importancia a las pr&aacute;cticas de higiene y aseo personal.
          |             
          tr
            td
              h3 &Aacute;rea Intelectual
            |                 
            td Exhibe la motivaci&oacute;n y las destrezas necesarias para mantenerse econ&oacute;micamente.
            |                 
            td
              | Cumple con sus tareas escolares y aprende con facilidad en el nivel de la memorizaci&oacute;n
            |                 
            td
              | Se aplican en sus estudios escolares y son m&aacute;s participativos, asi muestran mayor  rendimiento acad&eacute;mico e inter&eacute;s por la lectura y se reduce el grado de reprobaci&oacute;n.
            |                 
            td
              | Han desarrollado disciplina para el desarrollo de tareas escolares, por lo cual es investigador y tiene sentido l&oacute;gico.
          tr
            td
              h3 &Aacute;rea Socio-emocional
            |                     
            td Interact&uacute;a con otras personas de manera saludable y compasiva.
            |                     
            td
              | Disfruta la compa&ntilde;&iacute;a en grupo de su mismo g&eacute;nero, ademas se integra voluntariamente a las actividades del proyecto.
            |                     
            td Muestran mayor inter&eacute;s y compromiso por las actividades sociales del proyecto.
            |                     
            td
              | Aumenta el sentido de grupo; desarrollan actividades con cierta independencia y colabora en el desarrollo de las actividades del proyecto.